<!DOCTYPE html>
<html>
  <head>
    <title>Sim達o Belchior - Software Engineer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="author" content="Sim達o Belchior">
    <meta name="description" content="A short summary of his professional endeavours.">

    <!-- Facebook / Open Graph -->
    <meta property="og:title" content="Sim達o Belchior - Software Engineer">
    <meta property="og:description" content="A short summary of his professional endeavours.">
    <meta property="og:image" content="https://simaobelchior.com/images/porto_sunset.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://simaobelchior.com">

    <!-- Twitter -->
    <meta name="twitter:title" content="Sim達o Belchior - Software Engineer">
    <meta name="twitter:description" content="A short summary of his professional endeavours.">
    <meta name="twitter:image" content="https://simaobelchior.com/images/porto_sunset.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Sunset in Porto">
    <meta name="twitter:site" content="@belchior">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-6EDTJ04NWD"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-6EDTJ04NWD');
		</script>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_16x16.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
