<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sim達o Belchior - Software Engineer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sim達o Belchior">
    <meta name="description" content="A short summary of his professional endeavours.">

    <!-- Facebook / Open Graph -->
    <meta property="og:title" content="Sim達o Belchior - Software Engineer">
    <meta property="og:description" content="A short summary of his professional endeavours.">
    <meta property="og:image" content="https://simaobelchior.com/images/porto_sunset.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://simaobelchior.com">

    <!-- Twitter -->
    <meta name="twitter:title" content="Sim達o Belchior - Software Engineer">
    <meta name="twitter:description" content="A short summary of his professional endeavours.">
    <meta name="twitter:image" content="https://simaobelchior.com/images/porto_sunset.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Sunset in Porto">
    <meta name="twitter:site" content="@belchior">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
			<main role="main">
				<%= yield %>
			</main>
		</div>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-7895543-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-7895543-1');
		</script>

	</body>
</html>
